//  #######################################################
//  #   _base.scss
//      Defines styles for basic HTML
//  #######################################################

@import "~minireset.css/minireset.css";

//  #######################################################
//  #   Vars
//  #######################################################

//  #######################################################
//  #   Main
//  #######################################################

html
{}

body
{
	background-color: $color-body-bg;

	color: $color-text;
	font-family: $font-family-base;
	font-size: $font-size-base;
	letter-spacing: $font-body-letter-spacing;
}

/*
	# 
*/
a
{
	color: $color-primary;
	cursor: pointer;
}

a,
a:hover
{}

small
{
	font-size: $font-size-small;
}

//  #######################################################
//  #   Lists
//  #######################################################

ul
{
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

ul.styled
{
	padding-left: 1.25em;
	list-style-type: disc;
}

//  #######################################################
//  #   Forms
//  #######################################################

input
{
	outline: 0 none;
}


//  #######################################################
//  #   Button
//  #######################################################

.btn
{
	display: inline-block;

	padding: 1em 2em;

	border: 1px solid $color-primary;
	background-color: $color-primary;
	color: white !important;

	cursor: pointer;

	transition-property: transform, background-color, color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;

	&:hover 
	{
		color: $color-primary !important;
		background-color: transparent;

		transform: scale(1.02);
	}
}

.btn-text
{
	color: $color-primary;
	text-decoration: underline;

	cursor: pointer;
}
