//  #######################################################
//  #   _grid.scss
//      The grid system used throughout the site
//  #######################################################

@import "~susy/sass/susy";

//  #######################################################
//  #   Vars
//  #######################################################

$susy: (
	container: $grid-container-width,
	columns: $grid-num-columns,  
	gutters: $grid-gutter-size / ( $grid-container-width / $grid-num-columns )
);

//  #######################################################
//  #   Main
//  #######################################################

.container
{ 
    @include container; 
}

//  Create the columns

@for $i from 1 through $grid-num-columns
{
    // Create each column
    .col-#{$i}
    {
        float: left;
        width: span($i);
        padding-left: gutter() / 2;
        padding-right: gutter() / 2;
    }

    // Create each column offset
    .col-offset-#{$i}
    { 
        margin-left: span($i);
    }
}


// Create responsive classes for each column
@each $key, $value in $bp-classes
{
    @include breakpoint( $value )
    {
        @for $i from 1 through $grid-num-columns
        {
            .col-#{$key}-#{$i}
            {
                float: left;
                width: span($i);
                padding-left: gutter() / 2;
                padding-right: gutter() / 2;
            }
        }
    }
}

//  #######################################################
//  #   Main
//  #######################################################

.container--fluid
{
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.col--fluid
{
    width: 100%;   
}